body {
  background-color: hsl(185, 41%, 84%);
  font-family: "Space Mono";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main h1 {
  max-width: 4ch;
  word-wrap: break-word;
}

.main-card {
  background-color: white;
  width: 60%;
  height: 40%;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  padding: 1.25rem;
  gap: 2px;
}

.card-inputs {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 5px;
  padding: 1rem;
}

.card-inputs p {
  font-size: 18px;
}

.card-inputs input {
  background-color: hsl(185, 41%, 84%);
  width: 100%;
  border: none;
  height: 30px;
  border-radius: 4px;
}

.button-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.3rem;
  margin-bottom: 0.5rem;
}

.button-grid button {
  height: 35px;
  /* width: 75%; */
  color: white;
  background-color: hsl(183, 100%, 15%);
  border-radius: 5px;
  font-size: 24px;
  border: none;
}

.card-outputs {
  background-color: hsl(183, 100%, 15%);
  width: 45%;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin-left: 25px;
  font-size: 24px;
}

.card-outputs button {
  width: 50%;
}

.split-totals {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.25rem;
  width: 100%;
}

.split-totals p {
  color: white;
  margin: 0;
}

input[type="number"] {
  font-family: "Space Mono";
  font-weight: 700;
}

.people-error {
  display: flex;
  justify-content: space-between;
}

#error-display {
  color: orange;
  margin-right: 1rem;
}

#reset-button {
  width: 100%;
  height: 40px;
  border-radius: 0.5rem;
  color: hsl(183, 100%, 15%);
  background-color: hsl(172, 67%, 45%);
  font-weight: bold;
  font-size: 20px;
}

#reset-button:disabled {
  opacity: 20%;
}

span {
  font-size: 12px;
  color: hsl(189, 41%, 97%);
}

@media (min-width: 320px) and (max-width: 1440px) {
  .main-card {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
  }
  .card-inputs {
    width: 220px;
    margin: 0;
    padding: auto;
  }

  .card-outputs {
    width: 200px;
    margin: 0;
    font-size: 20px;
  }
}
